h1 {
  color: #33F6FF;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.intro{
  font-style: italic;
}
.Author{
  color: red;
}
p.Author{
  font-size: 12px;
}
img{
  float: left;
}
